// Place all the styles related to the conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


dy {
    padding: 0;
    margin: 0;
    background: #fafafa;
    font-family: Roboto, 'sans-serif';
}

*:focus {
    outline: none;
}

#msg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 100px;
    text-align: center;
}

#avatar-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

#avatar-container:focus {
    outline: 0;
}

#local-container {
    top: 5px;
    left: 5px;
    width: 200px;
    height: auto;
}

#local-transcript {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
    padding-left: 10px;
    border-left: 4px solid #46bfac;
    font-size: 12px;
    line-height: 12px;
    pointer-events: none;
}

@media screen and (max-width: 568px) {
    #local-transcript {
        top: 20px; // on mobile display the transcript at the top of the page
        bottom: 0px;
        border-left: 0px solid #46bfac;
    }
}

#settings {
    display: none;
    position: absolute;
    background-color: white;
    margin: 5px;
    border-radius: 4px;
    padding: 20px;
}

#settings.show {
    display: block;
}

#settings h2 {
    margin: 0;
}

#settings h4 {
    margin-bottom: 0;
}

#settings select {
    width: 100%;
}

#settings button {
    margin-top: 40px;
}

#injectHTML {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px 2px 2px 2px;
    margin: 0px 2px auto auto;
    width: 30%;
    height: 250px;
    text-align: center;
    border-radius: 4px;
}

#transcript {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 100px;
    max-width: 500px;
    overflow: auto;
}

#transcript::-webkit-scrollbar {
    display: none;
}

#transcript .transcript-msg {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    padding: 10px 20px;
}

#askInput {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
    font-weight: 300;
    display: none;
}

#askInput::placeholder {
    color: white;
    font-weight: 300;
}

.live #askInput {
    display: block;
}

.prompt {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 40px;
    margin: auto;
    width: 130px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 12px;
    display: none;
}

.live #prompt {
    display: block;
}

.prompt-active {
    color: white;
    border-radius: 40px;
    margin: auto;
    width: 130px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 12px;
    display: none;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    background-color: #e84c3d;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

#controls {
    position: absolute;
    padding: 5px;
    flex-direction: column;
    display: none;
}

.live #controls {
    display: flex;
}

#controls button {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    align-self: center;
    font-size: .6rem;
    line-height: 1;
    margin: 2px;
    padding: .3em .8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    justify-content: center;
    margin-bottom: 5px;
    width: 110px;
    border-radius: 10px;
    border-color: #242340;
    color: #fff;
    box-shadow: 0 0 40px 40px #242340 inset, 0 0 0 0 #242340;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    &:hover {
        box-shadow: 0 0 10px 0 #242340 inset, 0 0 10px 4px #242340;
    }
}

.h-template {
    background: #fff;
    color: #999;
    padding: .5em;
    border-bottom: 1px solid #eee;
    font-size: 10px !important;
    opacity: .7;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;
}

@media screen and (max-width: 568px) {
    #controls {
        visibility: hidden;
    }

    #askInput {
        visibility: hidden;
    }

    #injectHTML {
        visibility: hidden;
    }
}